.feature_block {
    width: 45%;
    margin-bottom: 15.47%;
}
.title_block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icon {
    width: 25px;
    margin-right: 8px;
}
.title{
    font-size: 24px;
    color: #555459;
    font-weight: 700;
}
.block_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #6E7383;
}
@media screen and (max-width: 1199px) {
    .feature_block {
        width: 45%;
        margin-bottom: 10%;
    }
    .icon {
        width: 20px;
        margin-right: 6px;
    }
    .title{
        font-size: 20px;
    }
    .block_text {
        font-size: 16px;
        line-height: 18px;
    }
}
@media screen and (max-width: 1024px) {
    .feature_block {
        width: 45%;
        margin:0 2.5% 10%;
    }
    .title_block {
        display: flex;
       justify-content: center;
    }
    .block_text{
        text-align: center;
    }
}
@media screen and (max-width: 576px) {
    .icon {
        width: 16px;
    }
    .feature_block {
        width: 80%;
        margin:0 auto 10%;
    }
    .title{
        font-size: 18px;
    }
}