.input {
    width: 100%;
    margin-bottom: 20px;
}
.input input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #535353;
    border: 1px solid #cbcbcb;
    border-radius:  3px;
}
.input input::placeholder{
    color: #cbcbcb;
}