.input {
    width: 100%;
    margin-bottom: 26px;
}
.input input {
    width: 100%;
    padding: 20.5px 16px 20.5px 30px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #535353;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.input input::placeholder{
    color: #535353;
    opacity: 0.3;
}

@media screen and (max-width: 1199px) {
    .input {
        margin-bottom: 20px;
    }
    .input input {
        width: 100%;
        padding: 15.5px 10px 15.5px 20px;
        font-size: 14px;
        line-height: 16px;
    }
}
@media screen and (max-width: 576px) {
    .input input {
        width: 100%;
        padding: 12px 5px 12px 15px;
    }
}